@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "FZYouHJW_508R"
  src: url("../lib/FZYouH/FZYouHJW_508R.ttf") format("truetype")
