@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url(hexo-config("CDN.Meslo_LG")) format("truetype")

@font-face
  font-style: normal
  font-family: "FZYouHJW_508R"
  src: url(hexo-config("CDN.FZYouHJW_508R")) format("truetype")
