<div id="tag-cloud">
    <div class="tag-cloud-title">
        <% var visibleTags = 0 %>
        <% site.tags.each(function(tag){ %>
            <% if (tag.length) { %>
            <% visibleTags += 1 %>
            <% } %>
        <% }) %>
        <%- _p('counter.tag_cloud', visibleTags) %>
    </div>
    <div class="tag-cloud-tags">
        <%- tagcloud({min_font: 15, max_font: 25, amount: 100}) %>
    </div>
</div>